
<div style="margin-top: 100px"><h2 style="margin-left: 230px; color: #ee1010;">3 BHK HOMES</h2>
    
    <ul>
        <li><div class="d-flex">
            <img src="https://th.bing.com/th/id/OIP.m2U2S8iBT9zdvxDRIXCwlQHaFj?pid=ImgDet&rs=1" border="6"width="600px" height="200px">
            <p style="margin-top: 200px;margin-left: 110px; font-weight: bold;"><a routerLink="/form">Take For Rent Now!!</a></p></div>
        </li>
        <li><div class="d-flex">
            <img src="https://th.bing.com/th/id/OIP._yFldTALomz5w9AjL_brwAHaEK?pid=ImgDet&rs=1" border="6"width="600px" height="200px">
            <p style="margin-top: 200px;margin-left: 110px; font-weight: bold;"><a routerLink="/form">Take For Rent Now!!</a></p></div>
        </li>
        <li><div class="d-flex">
            <img src="https://th.bing.com/th/id/OIP.5-__yteWDqvHOjiQ4DCQPAHaFj?pid=ImgDet&rs=1" border="6"width="600px" height="200px">
            <p style="margin-top: 200px;margin-left: 110px; font-weight: bold;"><a routerLink="/form">Take For Rent Now!!</a></p></div>
        </li>
    </ul>
    
</div>

