<br><br><br><h2 style="color: rgb(146, 3, 3); margin-left: 250px;">Form for Booking</h2>
<div><div class="d-flex" >  <br><div style="border: 2px solid black;margin-left: 150px;" class="col-4">
    
    <label style="margin-left: 35px;">Enter your Name :</label><br>
    <input type="text" #t style="margin-left: 10px;"><br><br>
    <label style="margin-left: 35px;">Enter Age :</label><br>
    <input type="number" #d style="margin-left: 10px;"><br><br> 
    <label style="margin-left: 35px;">Enter Email-id :</label><br>
    <input type="text" #m style="margin-left: 10px;"><br><br> 
    <button type="submit" class="button"style="margin-left: 58px; background-color: rgb(112, 223, 149);" (click) ="fun(t.value,d.value,m.value)"> Submit</button><br>
  <br></div><br><br><br>
  <div ><table id="ans" style="margin-left: 150px; width: 300px;">
    <tr>
      <th>{{q}}</th>
      <th>{{h}}</th>
      <th>{{j}}</th>
    </tr>
    <tr *ngFor="let items of a, index as i" >
      
       <td>{{a[i].t}}</td>
       <td>{{b[i].m}}</td>
       <td>{{c[i].d}}</td>
       <td><button type="submit" style=" background-color: rgb(112, 223, 149);" (click) ="delete1(i)"> Delete</button></td>
  
    </tr>
    <br><br>
    
  </table></div></div><div style="text-align: center;"><h3 style="color: crimson;">{{z}}</h3></div>
  </div>
  